.clickable-row {
  cursor: pointer;
  transition: background 0.3s;

  &:hover {
     background: rgba(0, 0, 0, 0.05);
  }
  &__buttons{
    > *{
      margin: 0 5px;
      &:hover {
        background: rgba(0, 0, 0, 0.05);
     }
    }
  }
}
.empty-data{
  text-align: center;
  padding: 20px;
  color: #111;
  background-color: white;

}