<h1>Favorite coins</h1>
<mat-table [dataSource]="dataSource" matSort>
  <!-- Thumbnail Column -->
  <ng-container matColumnDef="thumb">
    <mat-header-cell *matHeaderCellDef> Thumbnail </mat-header-cell>
    <mat-cell *matCellDef="let crypto">
      <img [src]="crypto.thumb" alt="{{ crypto.name }}" width="24" height="24" />
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
    <mat-cell *matCellDef="let crypto"> {{ crypto.name }} </mat-cell>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Symbol </mat-header-cell>
    <mat-cell *matCellDef="let crypto"> {{ crypto.symbol }} </mat-cell>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price_usd">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Price </mat-header-cell>
    <mat-cell *matCellDef="let crypto"> {{ crypto.price?.usd | currency }} </mat-cell>
  </ng-container>

  <!-- 24h change Column -->
  <ng-container matColumnDef="price_usd_24h_change">
    <mat-header-cell *matHeaderCellDef mat-sort-header> 24h change </mat-header-cell>
    <mat-cell *matCellDef="let crypto"> {{ crypto.price?.usd_24h_change / 100 | percent:'1.1-2' }} </mat-cell>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let crypto" class="clickable-row__buttons">
      <button mat-icon-button matTooltip="Show details" color="primary" (click)="navigateToDetails(crypto.id)">
        <mat-icon>show_chart</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="Remove" (click)="removeFromFavorites(crypto.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="clickable-row"
    (click)="navigateToDetails(row.id)"></mat-row>
</mat-table>
